:root {
  --clr-dark: #000000;
  --clr-light: #111111;
  --clr-accent: #7fff00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 5em 0 0 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Consolas', sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
}

.item {
  padding: 0.5em;
  background-color: #000000;
  font-weight: 700;
  color: #7fff00;
  border: 5px solid var(--clr-accent);
}

#inventory-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 sütunluk envanter */
  gap: 6px;
  padding: 6px;
  background-color: #000;
}

.inventory-slot {
  width: 48px;
  height: 32px;
  background-color: #222;
  color: #7fff00;
  font-family: Consolas;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7fff00;
}


